@using Auto.Web.Core
@model List<Auto.Core.Models.Make>
@{
    ViewBag.Title = "Makes";
}

<div class="row">
    <div class="small-12 large-12 columns"><h2>Makes</h2></div>
</div>

<div class="row">
    <div class="small-6 large-6 columns"><h5>Name</h5></div>
    <div class="small-5 large-5 columns"></div>
    <div class="small-1 large-1 columns"></div> 
</div>

<div id="makes">
@foreach (var m in Model)
{
    <div class="row" id="@m.Id" data-id="@m.Id">
        <div class="small-6 large-6 columns"><input class="large-12 make-name auto-save-make" type="text" data-id="@m.Id" value="@m.Name" /></div>
        <div class="small-5 large-5 columns"></div>
        <div class="small-1 large-1 columns"><a href="#" class="button expand btn-del btn-del-trigger" data-id="@m.Id" data-reveal-id="confirm-delete">-del</a></div>
    </div>
}
</div>

<div class="row">
    <div class="small-12 large-12 columns"><a href="#" class="button large btn-add btn-add-make" data-id="@Helper.CurrentUser.Id">+add</a></div>
</div>

<div id="confirm-delete" class="reveal-modal tiny" data-reveal>
    <input type="hidden" id="hid-delete-id" />
    <h2>Are you sure you'd like to delete this make?  All cars in the database with this make will be deleted.</h2>
    <a href="#" class="button btn-del-make alert">Delete</a>
    <a href="#" class="button reveal-close">Cancel</a>
</div>

<script id="make_row" type="text/html">
    <div class="row" id="{{Id}}" data-id="{{Id}}">
        <div class="small-6 large-6 columns"><input class="large-12 make-name auto-save-make" type="text" value="{{Name}}" /></div>
        <div class="small-5 large-5 columns"></div>
        <div class="small-1 large-1 columns"><a href="#" class="button expand btn-del btn-del-trigger" data-id="{{Id}}">-del</a></div>
    </div>
</script>